@import "tailwindcss";

body{
  border: 0 none;
  margin: 0;
}


/* hide scrollBar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

