.swiper {
  width: 100%;
  height: 100%;
  direction: rtl;
}

.swiper-wrapper {
  display: flex !important;
  flex-direction: row !important;
}

.swiper-slide {
  flex-shrink: 0;
  width: auto;
  height: 100%;
}